.submitButton {
    padding: 0.1rem 0.5rem;
}

.commentForm {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.commentInput {
    resize: none;
    padding: 0.25rem;
    margin: 0.25rem 0rem;
}