.search-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
}

.search-element {
    padding: 0.2rem 0rem;
    text-align: center;
}

.search-button {
    margin: 0.5rem 0rem;
    padding: 0.2rem 0.5rem;
}

.search-results-list {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
}

.search-result-description {
    font-size: 0.75rem;
}